body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
    cursor: default;
}

header h1 {
    font-family: "Playwrite GB S", cursive; 
    font-optical-sizing: auto;
    font-weight: 500; 
    font-style: normal;
}

header nav {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* búsqueda */

.search {
    text-align: center;
    margin: 20px 0;
}

.search .form {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
    margin: 0 auto;
}

/* styling of Input */
.search .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}

/* styling of animated border */
.search .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}

/* Hover on Input */
.search .form:focus-within {
    border-radius: var(--after-border-radius);
}

.search input:focus {
    outline: none;
}

/* here is code of animated border */
.search .form:focus-within:before {
    transform: scale(1);
}

/* styling of close button */
/* == you can click the close button to remove text == */
.search .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}

/* close button shown when typing */
.search input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
}

/* sizing svg icons */
.search .form svg {
    width: 17px;
    margin-top: 3px;
}

/* productos */

.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

.product p {
    color: #666;
}

/* Estilos adicionales */

.form button {
    border: none;
    background: none;
    color: #8b8ba7;
}

.form {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
}

.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}

.form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}

.form:focus-within {
    border-radius: var(--after-border-radius);
}

input:focus {
    outline: none;
}

.form:focus-within:before {
    transform: scale(1);
}

.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}

input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
}

.form svg {
    width: 17px;
    margin-top: 3px;
}

/* pie de página */

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    position: static;
    bottom: 0;
    width: 97.5%;
}
