body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
    cursor: default;
}

header h1 {
    font-family: "Playwrite GB S", cursive; 
    font-optical-sizing: auto;
    font-weight: 500; 
    font-style: normal;
}

header nav {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* búsqueda */

.search {
    text-align: center;
    margin: 20px 0;
}

.search input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search button:hover {
    background-color: #555;
}

/* productos */

.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

.product p {
    color: #666;
}

/* Estilos adicionales */

#loadingMessage, #noResultsMessage {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
    color: #666;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#backToTopBtn:hover {
    background-color: #45a049;
}

/*  pie de página */

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    position: static;
    bottom: 0;
    width: 97.5%;
}
